<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Signalizer</string>
	<key>CFBundleIdentifier</key>
	<string>com.etm.signalizer.vst3</string>
	<key>CFBundleName</key>
	<string>ETM Signalizer</string>
	<key>CFBundleDisplayName</key>
	<string>ETM Signalizer</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.4.3</string>
	<key>CFBundleVersion</key>
	<string>0.4.3</string>
	<key>CFBundleSignature</key>
	<string>EtmS</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
</dict>
</plist>
